<ion-header>
  <ion-toolbar>
    <ion-title>
      Take a Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="photo">
    <img src="{{photo}}" />
    <ion-card-header>
      <ion-card-title>Test Result</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Test result will be displayed here!
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-fab-button (click)="capturePhoto('camera')">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col size="6">
          <ion-fab-button (click)="capturePhoto('gallery')">
            <ion-icon name="images"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-fab>
</ion-content>